
.DS_Store
final_project - Copy_files/libs/bootstrap/bootstrap.min.css
/shiny-app
/shiny-app
final_project_files/libs/quarto-html/tippy.umd.min.js
shiny-app/__pycache__/app.cpython-311.pyc
shiny-app/__pycache__/app.cpython-311.pyc
final_project_files/figure-html/cell-4-output-2.png
shiny-app/__pycache__/app.cpython-311.pyc
*.png
*.css
*.woff
*.js
